#!/usr/bin/make -f

export GEM2DEB_TEST_RUNNER = --check-dependencies

%:
	dh $@ --buildsystem=ruby --with ruby

override_dh_auto_clean:
	dh_auto_clean
	rm -rf doc

override_dh_auto_build:
	dh_auto_build
	# build documentation
	rdoc --main=README.adoc lib

override_dh_auto_install:
	dh_install
	# man pages are needed during the tests
	install -d debian/ruby-asciidoctor/usr/share/man/man1/
	install -p -m0644 ./man/asciidoctor.1 debian/ruby-asciidoctor/usr/share/man/man1/asciidoctor.1
	dh_auto_install
	rm -rf debian/ruby-asciidoctor/usr/share/man/
	# remove asciidoctor-safe
	rm -f debian/ruby-asciidoctor/usr/bin/asciidoctor-safe
	# remove bundled jquery.js
	rm -f debian/asciidoctor-doc/usr/share/doc/asciidoctor-doc/html/js/jquery.js
	mkdir -p debian/asciidoctor/usr/bin
	mv debian/ruby-asciidoctor/usr/bin/* debian/asciidoctor/usr/bin/
	rmdir debian/ruby-asciidoctor/usr/bin

override_dh_installchangelogs:
	dh_installchangelogs -O--buildsystem=ruby CHANGELOG.adoc

override_dh_installdocs:
	bin/asciidoctor README*.adoc
	dh_installdocs
